<ion-header>
  <!--<app-header [pageTitle]="pageTitle"> </app-header>-->
  <ion-toolbar>
      <ion-button slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-button>
      <ion-title> {{pageTitle}} </ion-title>
      <ion-avatar slot="end">
          <img src="./../../../assets/icon/rym.jpg" alt="">
      </ion-avatar>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-list lines="full">
      <form [formGroup]="mainForm" (ngSubmit)="storeData()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text" required></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="correo" type="text" required></ion-input>
        </ion-item> 
        <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input formControlName="edad" type="number" required></ion-input>
          </ion-item> 
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" shape="full" expand="block">
              Suscribirme
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-list>
  
    <ion-list>
      <ion-list-header>
        Suscriptores
      </ion-list-header>
  
      <ion-item lines="inset" *ngFor="let formulario of Data">
        <ion-label>
          <h5>{{ formulario.nombre }}</h5>
          <p>{{ formulario.correo }}</p>
          <p>{{ formulario.edad }}</p>
        </ion-label>
  
        <div class="item-note" item-end>
          <ion-icon name="create" style="zoom: 2.0;" [routerLink]="['/formulario/',formulario.id]"></ion-icon>
          <ion-icon name="trash" style="zoom: 2.0;" (click)="deleteSuscripcion(formulario.id)"></ion-icon>
        </div>
  
      </ion-item>
    </ion-list>
  </ion-content>






    


